body
{
    font-family: Trebuchet MS;
    font-size: 13px;
}

#gameContent{
    height:100%;
    width:100%;
}

#game{
    height:400px;
}
#rooms{
    height:400px;
}

#messages{
    height:200px;
}
#users{
    height:200px;
}

.title{
    font-weight:bold;
    background-color: blanchedalmond;
    font-size: 16px;
    text-align:center
}

.leftPanel
{
    width: 70%;
    border: 1px solid #ccc;
    float: left;
    overflow: auto;
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 15px;
}

.leftPanel li
{
    list-style-type: none;
    padding: 3px;
}

.rightPanel
{
    width: 17%;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    margin-left: 0px;
    padding-left: 0px;
    overflow: auto;
    font-size: small;
    white-space: nowrap;
    margin-bottom: 15px;
}

.rightPanel li, .rightPanel span
{
    padding: 4px;
}

.clear
{
    clear: both;
}

#new-message
{
    font-family: Trebuchet MS;
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
}

#roomsContainer{
    height: 370px;
}

#btnStartGame{
    width: 100%;
}

.error 
{
    color:Red;
}

.pm
{
    color:Red;
}

.notification
{
    color:#bbb;
}

.message
{
    
}